/*
Style shared between all trial data tabs
*/

@charset "UTF-8";

/* Cells layout style */
section.cell-section #content_div
{
	padding: 0 3px;
	margin: 5px 0;
	border: thin solid lightgrey;
	border-radius: 4px 4px 4px 4px;

	background: none repeat scroll 0 0 white;
}

/* Row layout style */
section.row-section #content_div
{
	position: relative;
}

/* Insertion buttons */
.insert {
	display: block;
	
	background:#009EFD;
	border:none;
	border-radius:5px;
	transition:0.2s;
	
	color: white;
	
	cursor: pointer;
}

.insert:hover,
.insert:focus  {
	background:#44BBFF;
	box-shadow:0 0 3px black;
}

.insert:active {
	background:#003F6C;
	box-shadow:none;
}

a.insert
{
	font-size: 10px;
    line-height: 10px;
    text-align: center;
}

.last.insert
{
	font-size: 20px;
	text-align: center;
}

/* Style specific to row section insertion buttons */
section.row-section a.insert
{
	margin: 0 0 2px;
	padding: 0;
	height:10px;
}

section.row-section .last.insert
{
	position: relative;
	top: 12px;
	height: 136px;
	
	line-height: 136px;
}

/* Style specific to cell section insertion buttons */
section.cell-section .insert
{
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	margin: 0 2px;
	padding: 6px 0;
	
	vertical-align: middle;
}

section.cell-section a.insert
{
	width: 10px;
}

section.cell-section a.insert > span
{
	display: block;
	height: 10px;
	transform-origin: top left;
	transform: rotate(-90deg) translateX(-100%);
}

section.cell-section .last.insert
{
	margin-left: 14px;
}

/* Small index indicators */
#content_div div small,
div.block > small {
	display:block;
	position:absolute;
	top:0; left:0;
	z-index:2;
	width: auto;
	padding:0.2em 0.5em;
	background:white;
	border-right:1px solid grey;
	border-bottom:1px solid grey;
	border-radius:3px 0 3px 0;
	font-size:x-small;
}

/* Delete buttons */
.box-delete {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	margin: 0;
	
	border-right: medium lightgrey;
	border-top: medium lightgrey;
	border-radius: 0 3px 0 4px;
}

/* Mini editors */
.minieditor 
{
	position: absolute;
	left: 0;
	top: 99%;
	z-index: 5;
	min-width: 100%;
	padding: 5px;
	
	background: inherit;
	border: 1px solid grey;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 1px grey;
}

a.minieditor, a.minieditor:hover, a.minieditor:active, a.minieditor:focus
{
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
	/*outline: 0;*/
}

.minieditor select,
.minieditor .select
{
	width: 100%;
}

/* Full editors */
/* Action editor */
div.full_editor div.root
{
	margin-top:5px;
	padding-top:5px;
	border-top:thin dashed lightgrey;
}

/*Commented out because Chrome doesn't update empty status correctly /
div.full_editor div.root:empty {
	display: none;
}
/**/

div.full_editor div.root div.section
{
	padding: 5px;
	margin-top: 5px;
	
	border: 1px solid lightgrey;
	border-radius: 4px;
	
	background: #F8F2ED;
}


div.full_editor div.root div.section h3
{
	padding-top: 0;
	
	text-align:center;
	white-space:nowrap;
}

div.full_editor div.root div.block 
{
	position:relative;
	margin:0;
	margin-bottom: 5px;
	padding:5px;
	background:#F0E3D9;
	border-radius:4px;
}

div.full_editor div.root div.block:empty
{
	display: none;
}

div.full_editor div.root div.block > label
{
	display: block;
}

div.full_editor div.root div.block > label > span
{
	display: inline-block;
	min-width: 100px;
	max-width: 20%;
}

div.full_editor div.root div.block > button.delete 
{
	position:absolute;
	top:5px; right:5px;
}

